<td class="original_label" valign="top" style="width: 10%; padding: 5px;">
  <%= h(translatable_value[:localized_label]) -%>
</td>
<td class="original_value" valign="top" style="padding: 5px;">
  <%= h(translatable_value[:value]) -%>
</td>
