<h2 style="margin:0 0 10px 0;"><%= t("translations.index.title", :type => @translated.class.name.downcase.singularize) %></h2>

<ul>
<% @translations.each do |translation| %>
  <li><%= link_to(h(translation.locale), { :action => :show, :id => h(translation.locale) }) -%></li>
<% end %>
</ul>

<p><%= link_to(t("translations.index.new"), { :action => :new }) %></p>
