<ul>
<% translated_values_with_localized_labels.each do |translatable_value| %>
  <li><%= translatable_value[:localized_label] %>
    <% if translatable_value[:value] -%>
      <ul><li><%= translatable_value[:value] -%></li></ul>
    <% end %>
  </li>
  <% end %>
</ul>

<%= link_to(t('translations.show.edit'), { :id => h(@translation.locale), :action => :edit }) %> |
<%= link_to(t('translations.show.translations'), { :action => :index }) %>
